.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: #202020;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-home {
  display: flex;
  position: relative;
  justify-content: space-between;
  z-index: 4;
}

.navbar-link {
  color: white;
  position: relative;
}

.navbar-link:hover {
  text-decoration: none;
  color: rgb(255, 235, 0);
}

.navbar-logo {
  color: rgb(255, 235, 0);
  font-size: 2.5rem;
  font-weight: 500;
  display: flex;
  margin-left: 1rem;
}

.nav-align-items-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1.5rem;
}

.trailer-box {
  background-color: rgb(255, 235, 0);
  display: flex;
  height: 15vh;
  justify-content: center;
}

.wrapper-container {
  border-right: 2px solid gray;
}

.wrapper-div {
  width: 20%;
  display: flex;

}

.trailer-color {
  color: white;
}

.trailer-font {
  font-size: 22px;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.icon {
  color: white;
  width: 20px;
  height: 20px;
  padding: 0.5rem;
}

.icon.footer {
  width: 30px;
  height: 30px;
}

.icon.footer:hover {
  cursor: pointer;
  opacity: .7;
  color: #ffd100;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 75%;
  pointer-events: none;
  transform: translateY(-50%);
  color: white;
  width: 20px;
  height: 20px;
  padding: 0.5rem;
}

input[type="search"] {
  border: 1px solid white;
  background-color: transparent;
  text-align: start;
  max-width: 150px;
}

::placeholder {
  color: white;
}

input[type="search"]:focus {
  background-color: transparent;
  color: white;
}

input[type="search"]::placeholder {
  color: white;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile-name {
  display: flex;
  align-items: center;
}

.nav-toggler {
  /*display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 15px;*/
  background-color: rgb(255, 235, 0) !important;
}

.no-shrink {
  flex-shrink: 0;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.navbar-right {
  display: flex;
  max-height: 100px;
  flex-direction: row;
}

.block {
  display: block;
}

.navbar-items {
  width: auto;

}

@media (max-width: 1100px) {
  .navbar-expand-md .navbar-nav {
    display: none;
  }
}

@media (min-width: 1100px) {
  .dropdown-left {
    display: none;
  }
}

.dropdown-left {
  margin-left: 1rem;
}

@media(max-width: 605px) {
  .navbar-right {
    flex-direction: column;
  }

  input[type="search"] {
    width: 120px;
  }

  .search {
    padding-top: 5px;
  }

  .profile {
    padding-top: 10px;
    margin-right: 2rem;
  }
}

.search {
  position: relative;
  min-width: 100px;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
}

.dropdown-menu-left {
  background-color: #202020 !important;
}

.profile {
  position: relative;
  min-width: 100px;
}

.underlined::after {
  background-color: rgb(255, 235, 0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: "";
  display: flex;
  margin: 0 auto;
  box-shadow: 1px 1px 1px 1px rgb(255, 215, 0);
  filter: blur(1.5px);
  position: absolute;
  left: 0;
  right: 0;
}

.news-yellow {
  color: rgb(255, 215, 0);
}

.news-info-container {
  height: 200px;
  background: rgb(18 18 18 / 50%);
  border-radius: 15px;
  padding: 1rem;
  background-image: linear-gradient(#333533, #ffd10038);
}

.news-container {
  background-color: #333533;
  padding: 1rem 1rem 0 1rem;
  border-radius: 15px;
  box-shadow: 0 0 20px 0px #000000;
}

.news-title {
  height: 50px;
  overflow: hidden;
  display: flex;
}

.article-section {
  background-color: rgb(181, 180, 186);
  justify-self: center;
  height: auto;
  min-height: 100vh;
}

.article-desc {
  font-size: 19px;
  text-align: start;
  padding-top: 5rem;
  margin: 0 2rem;
}

.article-img {
  width: 130px;
  height: 150px;
  border-radius: 15px;
  box-shadow: 0 0 14px #141414;
}

.img-div {
  width: 100%;
  padding-left: 0;
  margin-left: 0;
  padding-bottom: 1rem;
}

.home-color {
  background-color: #202020;
}

.height-full {
  height: 100%;
}

.text-start {
  text-align: start;
}

.font-white {
  color: white;
}

.font-black {
  color: black;
}

.title-font:hover {
  text-decoration: none;
  color: rgb(255, 235, 0);
}


.article-col {
  border: 1px solid gray;
}

.title-font {
  font-size: 15px;
  font-weight: 800;
}

.desc-font {
  font-size: 13px;
}

.article-date {
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
}

.born-today-image {
  object-fit: cover;
  width: 100px;
  height: 100px !important;
  border-radius: 50%;
}

.show-card-img {
  width: 200px !important;
}

.section-heading {
  align-content: flex-start;
  font-size: 40px;
  font-weight: 800;
  color: white;
}

.section-subheading {
  align-content: flex-start;
  color: grey;
  opacity: 70%;
}

.section-text {
  color: whitesmoke;
  font-size: large;
}

.link {
  color: white;
}

.link.article {
  color: #ffd100;
}

.link.footer {
  color: white;
  font-size: 18px;
}

.link:hover {
  text-decoration: none;
  color: #ffd100;
}

.celebrity-name {
  text-align: center;
  color: white;
}

.celebrity-name:hover {
  cursor: pointer;
}

.year {
  color: #ffd100;
  font-weight: 900;
}

.show-card-container {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  width: 275px;
  border-radius: 15px;
}

.show-card-info {
  position: absolute;
  width: 100%;
  bottom: 0;
  backdrop-filter: blur(20px);
  border-radius: 15px;
  padding: 1rem 0;
}

.show-card-title {
  text-align: start;
  color: white;
  font-size: 1rem;
}

.show-card-title:hover {
  color: #ffd100;
}

.show-card-subtitle {
  color: white;
  text-align: start;
  font-weight: 100;
}

.icon {
  color: white;
}

.gap {
  gap: 1rem;
}

.p-sm-3 {
  padding: 0 3rem !important;
}

.rating-container {
  display: flex;
  align-items: center;
  gap: .3rem;
}

.text-container {
  gap: .5rem;
  align-items: center;
}

.show-card-separator {
  margin: 0.5rem 0;
  padding-left: 1rem;
  height: 80%;
  border-left: 2px solid transparent;
  border-image: linear-gradient(#1d1d1d, #fffbfb, #1d1d1d) 5 stretch;
}

.play-button {
  display: flex;
  height: 1.5rem;
  color: white;
  cursor: pointer;
}

.modal-content {
  background-color: #202020 !important;
}

.modal-footer {
  border: none !important;
}

.home-container {
  margin: 0 !important;
  max-width: none !important;
  border-top: 2px solid gray;
}

.trailers-container {
  border-right: 2px solid gray;
}

.carousel-container .carousel-item.active {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.carousel-wrapper {
  height: 91vh;
}

.carousel-container {
  position: absolute !important;
  top: 0;
  width: 100vw;
  height: 100vh;
  box-shadow: 0px 5px 15px 0px #000;
}

.carousel-container.half-view-width {
  width: 50vw;
  z-index: 2;
}

.carousel-control-next {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start !important;
  right: 2rem !important;
  position: absolute;
  height: 50%;
  transform: translateY(50%);
}

.carousel-control-prev {
  display: flex;
  justify-content: flex-start !important;
  left: 2rem !important;
  position: absolute;
  height: 50%;
  transform: translateY(50%);
}

.visually-hidden {
  display: none;
}

.carousel-img {
  height: 100vh;
}

.opacity-8 {
  opacity: .8;
}

.opacity-3 {
  opacity: .3;
}

.background-black {
  background: black;
  z-index: 1;
}

.background-carousel-img {
  position: absolute;
  top: -40%;
  width: 100vw;
  height: 137%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(25px);
}

.carousel-indicators {
  bottom: 15px !important;
  gap: .7rem;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.carousel-indicators .active {
  width: 2rem;
  border-radius: 35%;
}

.carousel-indicators>button {
  opacity: .5;
  width: 2rem;
  border-radius: 35%;
}

.show-info-container {
  display: flex;
  flex-direction: column;
  gap: .1rem;
}

.show-title {
  display: flex;
  font-size: xx-large;
  font-weight: 900;
  z-index: 3;
}

.bold {
  font-weight: 800;
}

.pr-0-3 {
  padding-right: .3rem;
}

.text-align-start {
  text-align: start;
}

.font-weigth-lighter {
  font-weight: 200;
}

.show-description-scroll-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
}

.show-description-scroll {
  width: 100%;
  height: 150px;
  overflow-y: scroll;
  box-sizing: content-box;
}

.watch-trailer-button {
  gap: .5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.watch-trailer-button::before {
  position: absolute;
  content: '';
  background-color: #ffd100;
  padding: 1.5rem 5.5rem;
  border-radius: 30px;
}

.add-list-button {
  gap: .5rem;
  align-items: center;
  justify-content: center;
  padding-left: 1.5rem;
  cursor: pointer;
}

.trailer-box {
  background-color: rgb(255, 235, 0);
  display: flex;
  height: 15vh;
  justify-content: center;
  cursor: pointer;
}

.add-list-button::before {
  position: absolute;
  content: '';
  background-color: white;
  padding: 1.5rem 5.5rem;
  border-radius: 30px;
}

.black {
  color: black;
}

.z-index-1 {
  z-index: 1;
}

.buttons-container {
  gap: 2rem;
  padding-top: 2rem;
  z-index: 3;
}

.icons-info {
  z-index: 3;
}

.show-page-container {
  background-color: #202020;
}

.celebrity-roleName {
  color: #ffd100;
}

.celebrity-circle-container {
  padding-top: 1rem !important;
  padding-left: 2rem !important;
}

.box-shadow {
  box-shadow: 0px 5px 15px 0px #000;
}

.show-info-wrapper {
  height: 507px;
  margin-bottom: 2rem !important;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.genre-circle-container {
  border: 2px solid white;
  border-radius: 20px;
  width: max-content;
  cursor: pointer;
}

.genre-circle-name {
  color: white;
  padding: 0 .7rem;
  font-size: 1.3rem;
}

.genres-wrapper {
  display: flex;
  gap: 1rem;
  margin-left: 2rem;
  height: 40px;
}

.genre:not(:last-child)::after {
  content: ' / '
}

.button-text {
  color: black;
  font-weight: 700;
  z-index: 1;
}

.black-icon {
  color: black;
  z-index: 1;
}

.yellow-icon {
  color: #ffd100;
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.create-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh !important;
  overflow: auto;
  background-color: #333533;
  gap: 3rem;
  padding-bottom: 2rem;
}

.inputs-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: rgba(32, 32, 32, .5);
  padding: 2rem;
  border-radius: 30px;
  box-shadow: 0 0 20px 6px #2a2828;
}

.input-field {
  margin-bottom: 1rem;
  background-color: transparent !important;
  color: white !important;
  border: none !important;
  border-bottom: 1px solid #ccc !important;
  border-radius: 0px !important;
  width: 350px !important;
  padding: 0px !important;
}

input[type="text" i] {
  color: white !important;
}

.highlight {
  background: rgba(32, 32, 32, .5) !important;
}

.input-field li:hover {
  background: #333533 !important;
}

.input-field.text-area {
  height: 100px;
  resize: both;
  overflow: auto;

}

.input-field.length {
  width: 100px !important;
}

.input-field.length {
  width: 100px !important;
}

.upload-field {
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.input-field:focus {
  box-shadow: none !important;
  outline: none !important;
}

.search-wrapper {
  border: none !important;
  border-radius: 0px !important;
  padding-left: 0px !important;
}

.option {
  background: rgba(32, 32, 32, .5);
}

.input[type="text"] {
  color: white;
}

.highlight-option {
  background-color: rgba(32, 32, 32, .5) !important;
}

.chip {
  background: #333533 !important;
}

.not-found {
  background-color: rgba(32, 32, 32, .5);
}

.progressbar {
  display: flex;
  position: relative;
  gap: 2rem;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  width: 2rem;
  color: white;
  font-weight: 600;
  z-index: 1;
}

.progress-line {
  position: absolute;
  width: 100%;
  height: 0.5rem;
  top: 25%;
  transform: translateY(50%);
  background-color: grey;
  border-radius: 15px;
}

.progress-color {
  position: absolute;
  height: 0.5rem;
  top: 25%;
  width: 0%;
  transform: translateY(50%);
  background-color: #ffd100;
  border-radius: 15px;
}

.progress-color.step2 {
  width: 100%;
}

.active-circle {
  background-color: #ffd100;
  outline: .3rem solid grey;
}

.input-file-upload {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  left: 0;
}

.form-file-upload {
  height: 8rem;
  width: 32rem;
  max-width: 100%;
  text-align: center;
  position: relative;
}

.label-file-upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
  background-color: #f8fafc;
}

.upload-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  font-family: 'Oswald', sans-serif;
  background-color: transparent;
}

.label-file-upload.drag-active {
  background-color: lightblue;
}

.upload-image {
  height: 100px;
  width: 100px;
  border-radius: 15px;
}

.upload-image:hover {
  z-index: -1;
  opacity: .5;
}

.wrapper-upload-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.wrapper-upload-image:hover {
  background-color: #525452;
  justify-content: center;
}


.section {
  position: relative;
  margin: 25px 0 15px;
  border: 2px solid lightgray;
  padding: 35px 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #525452;
  justify-content: center;
}

.upload-image {
  width: 100px;
  height: 100px;
}

.upload-div {
  max-width: 200px;
}

.file-name {
  overflow: hidden;
  color: white;
}

.celebrity-page-container {
  display: flex;
  width: 100vw;
  overflow: hidden;
}

.celebrity-carousel {
  position: inherit !important;
}

.title-name {
  color: white;
  font-weight: 800;
  font-size: 4rem;
}

.subtitle {
  display: flex;
  font-weight: 500;
  gap: 4rem;
  justify-content: center;
  color: #ffd100;
}

.subtitle.article {
  gap: .5rem;
}

.description-text {
  color: white;
  margin: 2rem;
  text-align: start;
  height: 190px;
  overflow: scroll;
  overflow-x: hidden;
}

.circle-decor.right::after {
  content: '';
  padding: 9rem;
  background-color: #ffd100;
  border-radius: 50%;
  position: absolute;
  right: 0;
  transform: translate(50%, 100%);
  z-index: -1;
  opacity: .6;
  box-shadow: 0 0 20px 20px #ffd100;
}

.circle-decor.left::after {
  content: '';
  position: absolute;
  left: 0;
  padding: 9rem;
  z-index: -1;
  opacity: .7;
  background-color: #ffd100;
  border-radius: 50%;
  transform: translate(-50%, 15%);
  box-shadow: 0 0 20px 20px #ffd100;
}

.info-wrapper {
  z-index: 1;
}

.footer-container {
  box-shadow: 0 0 20px 5px #141414;
  padding: 1rem 0;
  margin-top: auto;
}

.footer-title {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  color: #ffd100;
  font-weight: 400;
  padding-bottom: .5rem;
}

.footer-logo {
  color: #ffd100;
  font-size: 40px;
  font-weight: 500;
}

.gap-2 {
  gap: 2rem;
}

.copy-right-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  background-color: rgba(51, 53, 51, .5);
  padding: .3rem 1rem;
  margin-top: 1rem;
}

.create-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 30px;
  padding: .8rem;
  gap: 0.5rem;
  margin: .7rem;
  cursor: pointer;
}

.trash-icon {
  cursor: pointer;
}

.error-message {
  max-width: fit-content;
  color: red;
}

.cross-button {
  color: red;
  cursor: pointer;
}